.product{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productkey{
    margin: 10px;
  padding: 10px;
  border: 1px solid #080101;
  border-radius: 5px;
  text-align: center;
}
.prdctimage{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.prdctprice{
    font-weight: bold;
}
.prdctdiscount{
  font-weight: bold;
}
.butn{
  background-color: rgb(211, 177, 114);
  border-radius: 5px;
  padding: 10px;
  color: black;
}